/** reset.css 开始 **/
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,          /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li,                                   /* list elements 列表元素 */
pre,                                                      /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea,          /* form elements 表单元素 */
th, td                                                    /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}

/** 重置列表元素 **/
ul,li, ol {
    list-style: none;
}

/** 重置文本格式元素 **/
a,a:hover{
    text-decoration: none;
    color:#404040;
}

/** 重置表单元素 **/
legend{                               /* for ie6 */
    color: #000;
}

fieldset, img                         /* 让链接里的 img 无边框 */
{
    border: 0;
}

button, input, select, textarea{      /* 使得表单元素在 ie 下能继承字体大小 */
    font-size: 100%;
}

/** 重置表格元素 **/
/*table{*/
/*    border-collapse: collapse;*/
/*    border-spacing: 0;*/
/*}*/
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}
/** reset.css 结束 **/


/* 初始化 */
*{font-size: 16px;font-family: "Microsoft YaHei";}

#container{
    width:600px;
    height:150px;
    padding:0px;
    margin:0px;
}
#container ul{
    height:30px;
    line-height:30px;
}
#container ul li{
    float:left;
    width:192px;
    height:28px;
    line-height:28px;
    text-align:center;
    margin:0px 3px;
    border:1px solid #aaa;
    border-bottom:none;
    cursor:pointer;
    background:#fff;
}
#container ul li.active{
    background-color: #409eff;
    border-top:2px solid saddlebrown;
    border-bottom:2px solid #fff;
}
#container #tabs div{
    height:120px;
    line-height:30px;
    border:1px solid #336699;
    border-top:2px saddlebrown solid;
    padding:0px;
}

table{
    margin-left: 0px;
    margin-right: 0px;
}
table tr th {
    text-align:center;
    border: 1px solid;
}
table tr td {
    valign: middle;
    align: center;
    text-align:center;
    /*border: 1px solid;*/
}

/*开关样式 start*/
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 21px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 0px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}


input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 21px;
}

.slider.round:before {
    border-radius: 50%;
}
/*开关样式 end*/